
.header {
    position: absolute;
    left: 0;
    top: 0px;
    border-top: 0px;
    padding-left: 50px;
    background: #f7a043;
    width: 1200px;
    border-bottom-right-radius: 2px;
    border-left: solid 40px #3a3232;
    margin: 0px;
}


.intro {
    position: absolute;
    display: block;
    width: 800px;
    padding-left: 50px;
    font-size: 22px;
    top: 80px;
    left: 0px;
    border-left: solid 40px #3a3232;
}

.tictactoe {
    position: absolute;
    display: block;
    top: 300px;
    width: 800px;
    padding-left: 50px;
    font-size: 22px;
    left: 0px;
    border-left: solid 40px #3a3232;
}

.navbar {
    position : absolute;
    top: 33px;
    left: 1000px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display : inline;
    padding : 21px; 
}